{% extends "./base.html" %}

{% block content %}
<form id="form" method="GET">
    <div class="form-group row">
        <div class="col-12">
            <div class="md-form mt-2 mb-1">
                <input class="form-control" name="search" id="search" type="text" placeholder="Search"
                    aria-label="Search">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4">Select Database</label>
        <div class="col-8">
            <div class="custom-control custom-radio custom-control-inline">
                <input name="radio" id="radio_0" type="radio" class="custom-control-input" value="sql">
                <label for="radio_0" class="custom-control-label">SQL</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input name="radio" id="radio_1" type="radio" class="custom-control-input" value="mongo">
                <label for="radio_1" class="custom-control-label">MongoDB</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input name="radio" id="radio_2" type="radio" class="custom-control-input" value="orm">
                <label for="radio_2" class="custom-control-label">ORM</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-2 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}

{% block body %}
{% for resume in page_obj %}
<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">{{resume.name}}</h4>
            <p class="card-text">{{resume.text}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block pagination %}
{% if page_obj %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?search={{search}}&option={{option}}&page=1">&laquo; first</a>
        <a href="?search={{search}}&option={{option}}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?search={{search}}&option={{option}}&page={{ page_obj.next_page_number }}">next</a>
        <a href="?search={{search}}&option={{option}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}